<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111843583621-th6g3srudjvbcr4vaku9p3om8shcn270.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111843583621-th6g3srudjvbcr4vaku9p3om8shcn270</string>
	<key>API_KEY</key>
	<string>AIzaSyDEqRLdpTlh1JL-op3fO70hBQC6yFX_9H8</string>
	<key>GCM_SENDER_ID</key>
	<string>111843583621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OutDoor</string>
	<key>PROJECT_ID</key>
	<string>outdoor-66b91</string>
	<key>STORAGE_BUCKET</key>
	<string>outdoor-66b91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111843583621:ios:530188660e8c26d8c8abec</string>
</dict>
</plist>